/* General Layout */
$sidebarWidth: 280px;

/* Bigger Buttons */
$biggerButtonHeight: 70px;

/* Colors */
$black: #000000;
$yellowSelected: #fec34d;
$yellowText: #856404;
$darkGrey: #202020;
$grassGreen: #77AA66;
$grassGreen-dark: #558844;
$mint: #00B285;

/* Imports */

/* Mixins */
@mixin unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Sidebar */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: $sidebarWidth;
  position: fixed; /* (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: $black;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  @include unselectable;
  .nav-tabs .nav-link {
    border: 0;
  }
  .nav-tabs {
    border: 0;
  }
  #system {
    position: absolute;
    bottom: 0;
  }
}

#categoryMusic #weedStats {
  padding-left: 0px;
  padding-right: 0px;
}

.list-group-item-warning.list-group-item-action.active {
  background-color: $yellowSelected;
  color: $yellowText;
}

/* Page content */
.main {
  color: #e0e0e0;
  height: 100vh;
  background-color: $darkGrey;
  margin-left: $sidebarWidth; /* Same as the width of the sidebar */
  padding: 10px;
  div {
    padding: 10px;
  }

  .gameButton {
    height: 50px;
    border-radius: 0;
    padding: 10px 10px;
    margin: 2px;
    .row {
      padding: 0;
      .col {
        padding: 0;
      }
    }
  }

  #buyWeedPlantBtn {
    height: $biggerButtonHeight;
  }

  #buyNoteGeneratorBtn {
    height: $biggerButtonHeight;
  }
}
